body {
  font-family: 'Arial Regular', 'Arial';
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*small image*/
 .sm-image-container {
     text-align: center;
     /*background-color: pink;/*debug*/
 }

.sm-image-inner-div {
    display: inline-block;
    width: 42vw;
    height: 61vw;
    max-width: 417px;
    max-height: 604px;
    background-image: url('img/cl-blue-shell-v.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sm-top-text-outer-div {
    width: 80%;
    height: 50%;
    /* float: none; */
    position: relative;
    margin-left: 10%;
    /* border: 1px solid black; */
}
.sm-text-inner-div {
    margin-top: 50%;
    /*border:1px solid green;/*debug*/
}
.sm-upper-white-text {
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-size: 21px;
    color: white;
    font-weight: 200;
}

.sm-lower-white-text {
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-size: 14px;
    color: white;
    font-weight: 200;
}

.sm-piv-div {
    overflow: hidden;
    width: auto;
    height: 50%;
    /* margin-left: 25%; */
    /* padding: 5% 6% 0 0; */
}

.sm-piv-upper {
    height: 80%;
    margin-left: 20%;
    /*height: 36%;  controls how much vertical space the PIV image takes */
    /*border: 1px solid red;/*debug*/
}

.sm-piv-lower {
    padding: 0;
    /* margin: 0 11% 0 0; */ /* this makes the link under the PIV image centered under the image */
    /*background-color: pink;/*debug*/
}

.sm-piv-img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 12%;
}

.sm-piv-lower a {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-size: 14px;
    color: white;
    font-weight: 200;
    /* margin-left: 18%; */
}
/* custom styles here should be tweaked and out in your style sheets */
/* other styles not here are either bootstrap or from accessva.css both included above */

.big-image-container {
    text-align: center;
    /*background-color: pink;/*debug*/
}

.big-image-inner-div {
    display: inline-block;
    width: 79vw; /* keeps proper aspect ratio */
    height: 42vw; /* keeps proper aspect ratio */
    max-width: 794px;
    max-height: 417px;
    background-image: url('img/cl-blue-shell.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*border:1px solid red;/*debug*/
}

.left-text-outer-div {
    width: 63%; /* this and the one in piv-div split the area left and right */
    height: 100%;
    float: left;
    position: relative;
    /*border:1px solid green;/*debug*/
}
.css-table-cell-fully-centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
}
.css-table-max-width-and-height {
    display: table;
    height: 100%;
    width: 100%;
}
.cspselect-csp-logo-tall {
    height: 48px;
    margin: 0;
}
.left-text-inner-div {
    margin: 5% 0 0 5%;
    /*border:1px solid green;/*debug*/
}

.piv-div {
    overflow: hidden;
    width: 37%;/**/
    height: 100%;/**/
    padding: 5% 6% 0 0; /* this controls the placement of the right side "stuff" */
    /*border:1px solid blue;/*debug*/
}

.piv-upper {
    height: 83%; /* controls how much vertical space the PIV image takes */
    /*border: 1px solid red;/*debug*/
}

.piv-lower {
    padding: 0;
    margin: 0 11% 0 0; /* this makes the link under the PIV image centered under the image */
    /*background-color: pink;/*debug*/
}

.piv-img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 12%;
}

.piv-lower a {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: white;
    margin-left: 15%;
}

.upper-white-text {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 38px;
    color: white;
}

.lower-white-text {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px;
    color: white;
}


/* breakpoints below are for example only...they may need some fine tuning or different breaks */
/* I just grouped them together for simplicity here */

@media only screen and (max-width : 850px) {
    .piv-lower a {
        font-size: 11px;
    }
    .upper-white-text {
        font-size: 30px;
    }
    .lower-white-text {
        font-size: 16px;
    }
}

@media only screen and (max-width : 750px) {
    .piv-lower a {
        font-size: 10px;
    }
    .piv-upper {
        height: 81%; /* without this the words under shift down -- placement of "View Other Sign-in Options" is not perfect */
    }
    .upper-white-text {
        font-size: 26px;
    }
    .lower-white-text {
        font-size: 12px;
    }
}

/*@media only screen and (max-width : 650px) {*/
    /**/
    /*.piv-lower a {*/
        /*font-size: 8px;*/
    /*}*/
    /*.piv-upper {*/
        /*height: 79%; !* probably will switch to vertical before this happens *!*/
    /*}*/
    /*.upper-white-text {*/
        /*font-size: 22px;*/
    /*}*/
    /*.lower-white-text {*/
        /*font-size: 10px;*/
    /*}*/
/*}*/

@media only screen and (max-width : 650px) {

    .sm-piv-lower a {
        font-size: 11px;
    }
    .sm-piv-upper {
        height: 80%; /* probably will switch to vertical before this happens */
    }
    .sm-upper-white-text {
        font-size: 19px;
        /* color:  black; */
    }
    .sm-lower-white-text {
        font-size: 13px;
    }
}

@media only screen and (max-width : 550px) {

    .sm-piv-lower a {
        font-size: 11px;
    }

    .sm-piv-upper {
        height: 80%;
    }

    .sm-upper-white-text {
        font-size: 15px;
        /* color:  black; */
    }

    .sm-lower-white-text {
        font-size: 9px;
    }

    .sm-piv-lower a {
        padding: 0;
        /* margin: 0; */
        /* font-family: Arial, Helvetica, sans-serif !important; */
        font-size: 8px;
        color: white;
        /* font-weight: 200; */
        /* margin-left: 18%; */
    }
}
    @media only screen and (max-width : 450px) {

        .sm-piv-lower a {
            font-size: 11px;
        }
        .sm-piv-upper {
            height: 80%;
        }
        .sm-upper-white-text {
            font-size: 12px;
            /* color:  black; */
        }
        .sm-lower-white-text {
            font-size: 7px;
        }
        .sm-piv-lower a {
            padding: 0;
            /* margin: 0; */
            /* font-family: Arial, Helvetica, sans-serif !important; */
            font-size: 8px;
            color: white;
            /* font-weight: 200; */
            /* margin-left: 18%; */
        }

    }

    /*Modal Buttons*/
    .cspselect-button-text-div {
    color: black;
    float: right;
    text-align: center;
    margin: 5px 0 0 1px;
    width: 64%;
    height: 55px;
    padding: 0px;
    border-left: 1px solid #a1a1a1;
    }

    .cspselect-button-responsive-column {
    display: block;
    float: left;
    margin: 4px 8px 4px 0px;
    /* width: 80%; */
    background-color: #e9f0ff;
    /* min-height: 120px; */
    padding: 0px;
    /* padding: 13px 0 3px 0; */
    }
    .cspselect-csp-button {
        /*me*/
        display: flex;
        align-items: center;
        /* min-height: 82px; */
        border: 1px solid;
        /*background-color: #e9f0ff;*/
    /*access va*/
        font: bold 13px Verdana, Geneva, sans-serif;
        background-color: #e9f0ff;
        border-radius: 0px !important;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid #0a92da;
    }
    .cspselect-button-logo-div {
    float: left;
    text-align: center;
    height: 66px;
    padding: 7px 0 8px 0;
    width: 35%;
    }
    .widget-confirm-redirect-cancel-button {
    background-color: #ffffff;
    width: 83px !important;
    max-width: 83px !important;
    min-width: 83px !important;
    border: 1px solid #7f7f7f;
    border-radius: 0px;
    }

/************************************/
/* SPECIAL 508 COMPLIANCE ITEMS     */
/************************************/

/*button:focus { border: 1px solid yellow !important; }/*debug*/

/*:focus { border: 1px solid red !important; }/*debug*/

#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#BF1722;
	outline:0;	
	-webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}