<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0"/>-->
    <customErrors mode="RemoteOnly" defaultRedirect="/CentralLogin/CustomError/500.aspx"/>
    <httpRuntime/>
    <!--<pages enableViewStateMac="true"  viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"  renderAllHiddenFieldsAtTopOfForm="true" />-->
    <authentication mode="Forms">
      <forms timeout="540"/>
    </authentication>
    <sessionState timeout="600"/>
    <machineKey decryptionKey="3E661AC7AF83947B407D3008DB191FE172CCACB5627F2A36" validationKey="B3E7E60B3BF7E410540A9C5A247C9EB447AC5489930FE6B380E8894E75B2EDA10A03596E85E47116D7AA014302869172EE9869F4F4FB8FED54315294E3E457E6"/>
   </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="502" subStatusCode="-1"/>
      <error statusCode="401" prefixLanguageFilePath="" path="/CentralLogin/CustomError/401.aspx" responseMode="ExecuteURL"/>
      <error statusCode="403" prefixLanguageFilePath="" path="/CentralLogin/CustomError/403.aspx" responseMode="ExecuteURL"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/CentralLogin/CustomError/404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="405" prefixLanguageFilePath="" path="/CentralLogin/CustomError/405.aspx" responseMode="ExecuteURL"/>
      <error statusCode="406" prefixLanguageFilePath="" path="/CentralLogin/CustomError/406.aspx" responseMode="ExecuteURL"/>
      <error statusCode="412" prefixLanguageFilePath="" path="/CentralLogin/CustomError/412.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/CentralLogin/CustomError/500.aspx" responseMode="ExecuteURL"/>
      <error statusCode="501" prefixLanguageFilePath="" path="/CentralLogin/CustomError/501.aspx" responseMode="ExecuteURL"/>
      <error statusCode="502" prefixLanguageFilePath="" path="/CentralLogin/CustomError/502.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpRedirect enabled="false" httpResponseStatus="Temporary"/>
    <tracing>
      <traceFailedRequests>
        <remove path="*"/>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="401.2-999"/>
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>